    .containerTecnologias{
        font-size: 3em;
        border: solid 1px beige;
        border-radius: 20px;
    }
    .iconosLenguajes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
