.containerNav{
    margin: 0 auto;
    margin-top: 10px ;
    display: block;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    width: 250px;
}


.link{
    text-decoration: none;
    color: white;
}

.IconsNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcon{
    margin: 10px;
}

