body {
    background-color: black;
    color: white;
    margin: 0; 
    height: 100vh; 
  }

  #tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}
